body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
}

.header-bar{
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
}

.flex-list {
  display: flex;         /* Turns the list into a flex container */
  justify-content: left; /* Centers items horizontally */
  list-style: none;      /* Removes bullet points */
  padding: 0;            /* Removes default padding */

  margin-top: 5px;
  margin-bottom: 0px;
}
.flex-list li {
  margin: 0 3px;        /* Adds space between items */
  text-decoration: none;

  width: 100px;
}

.flex-left {
  display: flex;         /* Turns the list into a flex container */
  justify-content: left; /* Centers items horizontally */
  list-style: none;      /* Removes bullet points */
  margin-right: auto;

}
.flex-left li {

  width: 200px;
}

.flex-button {
    display: flex;
    justify-content: center;
    align-items: center; 

    cursor: pointer;
    transition: background 0.3s;
    border: none;
    position: relative;

    
    border-radius: 5px;

}

.flex-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; 
  background-color: #ededed; 
  transition: background-color 0.1s; /* Animate the color change*/
}

.flex-button.active::after {
  background-color: #A8201A; 
}

.flex-button img {
    margin-right: 10px; 
    flex-shrink: 0; 
    height: 15px; 
    width: 15px;
}

.flex-center {
  display: flex;         /* Turns the list into a flex container */
  justify-content: left; /* Centers items horizontally */
  list-style: none;      /* Removes bullet points */
}

.flex-right {
  display: flex;         /* Turns the list into a flex container */
  justify-content: left; /* Centers items horizontally */
  list-style: none;      /* Removes bullet points */
  margin-left: auto;
}



.flex-list li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 40px;


  text-decoration: none;
  user-select: none; /* Standard syntax */
}

.flex-list li:hover {
  background-color: #e7e7e7;
}


.file-table-div{
  overflow-x: auto; 
}

.file-table {

  margin: auto;
  border-collapse: collapse;
  border-spacing: 0 10px;    /* 0 horizontal, 10px vertical */
}

.file-table-header {

  text-align: left;

}

.file-table-item {
  border-top: 1px solid #b4b4b4;
  height: 40px;

  text-decoration: none;
  user-select: none; /* Standard syntax */

  cursor: pointer;
  transition: background 0.3s;

}

.file-table-item:hover{
    background-color: #e7e7e7;

}

.file-table-item.active {
  background-color: #c5d1ef;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}
.file-table-item.active:hover {
  background-color: #aebee5;
}

.file-table-item-edit {
  cursor: pointer;

  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 2px;
  
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}



.dropdown-option {
    display: flex;
    justify-content: left;
    align-items: left; 

    margin-top:3px;
    margin-bottom:3px;

    text-decoration: none;
    user-select: none; /* Standard syntax */

    cursor: pointer;
    transition: background 0.3s;
    height: 35px;
    line-height: 15px;
}

.dropdown-option:hover{
    background-color: #e7e7e7;
}

.dropdown-option svg {
    margin-top: 10px;
    margin-left: 8px;
}

.dropdown-divider{

  content: '';
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  height: 2px; 
  background-color: #ededed;

}

.save-bar{
  cursor: pointer;
}

.login {
  background-color: #ededed;
  border: 2px solid #b4b4b4;
  padding: 30px;
  width: 40%;

}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.align {
  height: 90%;
  width: 100%;
}

.input-login {
  width: 100%;
  border-radius: 0;
  padding: 5px;
}


.rename-file{
  display: flex;
  align-items: center;
  justify-content: center;


  position: fixed;   /* Stays in place during scroll */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Offsets the element by its own half-width/height */
  z-index: 9999;     /* Ensures it is on top of other elements */

  background-color: #ededed;
  border: 2px solid #b4b4b4;
  padding: 30px;
  width: 40%;

}

.rename-file-element{

  padding-left: 15px;
  padding-right: 15px;
}

.hidden{
  display: none;
}