body {
  margin: 0;
  padding: 0;
  background-color: rgb(29, 32, 41);
  font-family: "Segoe UI";
  color: white;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(21, 24, 32);
  outline: 2px solid rgb(89, 97, 99);
  margin: auto;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

ul li:hover {
  background-color: rgb(14, 16, 21);
}


ul li.active:hover {
  background-color: #531406;
}

.active{
    background-color: #a32408;
}



#new {
  display: none;
}

#new:target {
  display: block;
}

.login {
  background-color: rgb(21, 24, 32);
  border: 2px solid rgb(89, 97, 99);
  padding: 30px;
  width: 40%;

}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.align {
  height: 100%;
  width: 100%;
}

.input-login {
  width: 100%;
  border-radius: 0;
  padding: 5px;
}